.st{
    font-size: 15px ;
    text-decoration-color:red 
}

div{
    margin-top: 5%;
			margin-left: 28%;
			margin-right:  28%;
			margin-bottom: 10%;
			font-size: 25px;
            background-color:#EB8171 ;
            
}
@media (max-width: 755px) {
    div{
        margin-top: 5%;
        margin-left: 15%;
        margin-right:  15%;
        margin-bottom: 10%;
        font-size: 25px;
        background-color:#EB8171 ;
    }
}
@media (max-width: 420px) {
    div{
        margin-top: 5%;
        margin-left: 5%;
        margin-right:  5%;
        margin-bottom: 10%;
        font-size: 25px;
        background-color:#EB8171 ;
    }
}